@model IEnumerable<HoangManhTungBTH_02.Models.Student>
<p>
    <a class="btn btn-success" asp-action="Create">Create a new Student</a>
</p>
<table class="table table-all">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.StudentID)</td>
            <td>@Html.DisplayFor(m => item.StudentName)</td>
        </tr>
    }
</table>